.loginPage {
    background: url("../assets/LoginPage.jpeg");
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url("../assets/LoginPage.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm {
    background-color: rgba(1, 32, 93, 0.6);
    color: white;
}

ul li :hover {
    background-color: gray;
}

.employee_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/* Attendance.css */

/* Style the table for better readability */
.table th, .table td {
    vertical-align: middle;
  }
  
  /* Center align text in the header */
  .table th {
    text-align: center;
  }
  
  /* Add some padding to the form controls */
  .form-control, .form-check-input {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  /* Center align the submit button */
  .text-center .btn {
    margin-top: 10px;
  }
    

