.loginPage {
    background: url("../assets/LoginPage.jpeg");
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url("../assets/LoginPage.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm {
    background-color: rgba(1, 32, 93, 0.6);
    color: white;
}

ul li :hover {
    background-color: gray;
}

.employee_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/* Attendance.css */
.attendance-form {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-input {
  border-radius: 4px;
}

.form-check {
  margin-top: 10px;
}

.attendance-form h1 {
  font-size: 24px;
  font-weight: bold;
}

button.w-100 {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}

button.w-100:hover {
  background-color: #0056b3;
  border-color: #004085;
}

  
    

